/* CART OVERLAY */
.icon {
  width: 27px;
  height: 20px;
  margin: 7px 40px 0 22px;
}
.icon:hover {
  cursor: pointer;
}

.icon-qty {
  position: absolute;
  top: 1.8rem;
  right: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 18px;
  width: 18px;
  color: #fff;
  background-color: #1d1f22;
  border-radius: 50%;
}

.cart-container {
  position: fixed;
  font-size: 14px;
  width: 325px;
  max-height: 750px;
  transform: translate(-17rem, -0.1rem);
  /* box-shadow: 2px 2px 2px 1px #7d7e7e; */
  background-color: #fff;
  overflow-y: scroll;
  z-index: 2;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.details-container {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  justify-content: space-around;
  margin: 0 16px;
}

.size-details {
  display: flex;
  margin-top: -8px;
}

.color-details {
  display: flex;
}

.qty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qty-btn {
  height: 24px;
  width: 24px;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  margin-top: 16px;
  margin-right: 8px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.qty-btn:hover {
  cursor: pointer;
}

.size-details > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px 24px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
}

.size-details > div:nth-child(2) {
  background-color: #1d1f22;
  color: #fff;
}

.color-details {
  display: flex;
  margin-top: -10px;
}

.color-details > div:nth-child(1) {
  margin-right: 8px;
  height: 18px;
  width: 18px;
  border: solid 1px #5ece7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-details > div:nth-child(1) > div {
  background-color: #d3d2d5;
  height: 16px;
  width: 16px;
}

.color-details > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-details > div:nth-child(2) > div {
  background-color: #2b2b2b;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.color-details > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-details > div:nth-child(3) > div {
  background-color: #0f6450;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.item-img {
  width: 121px;
  height: 200px;
  margin-top: 16px;
}

.totals {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin: 40px 16px;
}

.checkout-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 16px;
}

.view-bag-btn {
  height: 43px;
  width: 130px;
  border: 1px solid #1d1f22;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  background-color: #fff;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-bag-btn:hover {
  cursor: pointer;
}
.checkout-btn-container > a {
  text-decoration: none;
}
.checkout-btn-container :nth-child(2) {
  /* border: #5ece7b;
  color: #fff;
  background-color: #5ece7b; */
  height: 43px;
  width: 140px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  background-color: #fff;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-cart-items {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 5rem;
  white-space: nowrap;
  background-color: #fff;
  height: 5rem;
  width: 15rem;
  z-index: 2;
}

.big-size-details {
  display: flex;
}

.big-size-details > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px 24px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
}

.big-size-details > div:nth-child(2) {
  background-color: #1d1f22;
  color: #fff;
}

.big-size-details > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px 24px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
}

.big-size-details > div:nth-child(2) {
  background-color: #1d1f22;
  color: #fff;
}

.big-color-details {
  display: flex;
  margin-top: -10px;
}

.big-color-details > div:nth-child(1) {
  margin-right: 8px;
  height: 18px;
  width: 18px;
  border: solid 1px #5ece7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-color-details > div:nth-child(1) > div {
  background-color: #d3d2d5;
  height: 16px;
  width: 16px;
}

.big-color-details > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-color-details > div:nth-child(2) > div {
  background-color: #2b2b2b;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.big-color-details > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-color-details > div:nth-child(3) > div {
  background-color: #0f6450;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

/* CART */
.cart-title {
  margin: 80px 0 55px 100px;
}

.cart-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 100px;
}

.cart-details-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  margin: 0 16px;
}

.cart-name-details {
  display: flex;
  flex-direction: column;
}

.cart-qty-img {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart-size-details {
  display: flex;
  margin-top: -8px;
}

.cart-color-details {
  display: flex;
}

.cart-qty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.cart-qty-btn {
  height: 24px;
  width: 24px;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  margin-top: 16px;
  margin-right: 8px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.cart-qty-btn:hover {
  cursor: pointer;
}

.cart-size-details > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px 24px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
}

.cart-size-details > div:nth-child(2) {
  background-color: #1d1f22;
  color: #fff;
}

.cart-color-details {
  display: flex;
  margin-top: -10px;
}

.cart-color-details > div:nth-child(1) {
  margin-right: 8px;
  height: 18px;
  width: 18px;
  border: solid 1px #5ece7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-color-details > div:nth-child(1) > div {
  background-color: #d3d2d5;
  height: 16px;
  width: 16px;
}

.cart-color-details > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-color-details > div:nth-child(2) > div {
  background-color: #2b2b2b;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.cart-color-details > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-color-details > div:nth-child(3) > div {
  background-color: #0f6450;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.cart-item-img {
  width: 121px;
  height: 200px;
  margin-top: 16px;
}

.cart-final-details {
  margin: 80px 0 55px 100px;
}

.checkout-btn:hover {
  cursor: pointer;
}
