.nav {
  height: 80px;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.list {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #1d1f22;
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
}

/* .selected {
  background-color: red;
} */

.list button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin: 0 16px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  transition: all 0.5s;
}
.list button:hover {
  cursor: pointer;
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
}
.back {
  height: 28px;
  width: 31px;
  margin-top: 30px;
}
.back:hover {
  cursor: pointer;
}

.icons-list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.products {
  margin-top: 12rem;
}

.products h2 {
  position: absolute;
  top: 160px;
  font-weight: 400;
  margin: 0 0 70px 117px;
}

.products-container {
  margin-right: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  column-gap: 150px;
  row-gap: 50px;
}

.img {
  height: 316px;
  width: 308px;
}
